/* styles.css */
:root {
  --background: #101114;
  --primary-color: #1C1D20;
  --secondary-color: #4A4D57;
  --accent-color: #00FFC4;
  --text-color: #F9F9F9;
} 

* {
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16pt;
  color: var(--text-color);
}

body {
  min-height: 100vh;
  padding: 10px;
  background-color: var(--background);
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Header */
h1 {
  margin-top: 100px;
  margin-bottom: 20px;
  font-size: 3rem;
  font-weight: 800;
  text-align: center;
  text-transform: uppercase;
  color: var(--accent-color);
}

.subtitle {
  text-align: center;
  color: var(--text-color);
  opacity: 0.8;
  font-size: 1.1rem;
  font-style: italic;
  max-width: 600px;
  margin: 0 auto 20px auto;
  line-height: 1.5;
}

/* Wrapper */
.wrapper {
  width: 700px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* Main Container */
#main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  gap: 20px;
}

/* Card */
.card {
  background-color: var(--primary-color);
  color: var(--text-color);
  padding: 20px; 
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  width: 100%;
  max-width: 450px;
  display: flex; 
  flex-direction: column;
  gap: 15px;
  transition: transform 0.2s, box-shadow 0.2s;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.4);
}

/* Card header */
.card-header {
  display: flex; 
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.card-header img {
  width: 40px;
  height: 40px;
  object-fit: contain;
  border-radius: 50%;
}

.card-header h2 {
  margin: 0;
  font-size: clamp(1rem, 5vw, 1.5rem);
  font-weight: bold;
  text-decoration: underline;
  text-underline-offset: 6px;
  text-decoration-thickness: 1px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 90%;
}

.header-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* Card details */
.preparations {
  font-size: clamp(0.9rem, 2.5vw, 1rem);
  color: var(--text-color);
  opacity: 0.8;
  font-style: italic;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

/* Ingredients list */
.ingredients {
  list-style-type: disc;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.ingredients li {
  font-size: clamp(0.8rem, 2vw, .95rem);
  color: var(--text-color);
  padding: 2px 0;
  line-height: 1.4;
}

.ingredient-amount {
  font-weight: bold;
  font-size: 1.1em;
  margin-right: 5px;
}

.no-results {
  color: var(--accent-color);
  font-size: 1.2rem;
  text-align: center;
  margin-top: 20px;
}

/* Mobile */
@media(max-width: 500px) {
  html {
    font-size: 12pt;
  }

  h1 {
    margin-top: 50px;
  }
}